@import "modern-normalize";

:root {
  --notBlack: #191919;
  --notWhite: #fff9f2;
  --cherry: #83254f;
  --strawberry: #e56b6f;
  --mango: #ffab5c;
  --longan: #ffd8a8;

  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--notWhite);
  background-color: var(--notBlack);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --linkColor: var(--cherry);
}

@media (prefers-color-scheme: dark) {
  :root {
    --linkColor: var(--strawberry);
  }
}

#app {
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--linkColor);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

* {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--linkColor);
  border: 2px solid currentColor;
  border-radius: 9999px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
}

button:hover {
  color: var(--notWhite);
  background-color: var(--linkColor);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--notBlack);
    background-color: var(--notWhite);
  }
}

.contacts {
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  color: var(--notBlack);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 1300px) {
  .contacts {
    max-width: 95vw;
  }
}

@media (prefers-color-scheme: dark) {
  .contacts {
    color: var(--notWhite);
  }
}

.contact-links {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  row-gap: 24px;
  padding: 14px 14px;
}

.contact-block {
  box-shadow:
    0px 4px 5px rgba(25, 25, 25, 0.14),
    0px 1px 10px rgba(25, 25, 25, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 217, 211);
  background-color: white;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .contact-block {
    box-shadow:
      0px 4px 5px rgba(0, 0, 0, 0.14),
      0px 1px 10px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: black;
    border-color: rgb(74 72 71);
  }
}

.contact-links:empty::after {
  content: "no contact links or URL";
  font-style: italic;
  opacity: 0.7;
}

.contact-link {
  word-break: break-word;
  text-wrap: balance;
}

.contact-header {
  padding: 10px 14px;
  border-bottom: 1px solid rgb(222, 217, 211);
  background-color: var(--notWhite);
}

@media (prefers-color-scheme: dark) {
  .contact-header {
    border-bottom: 1px solid rgb(74 72 71);
    background-color: var(--notBlack);
  }
}

.contact-header a {
  color: inherit;
}

.starting {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.starting .text {
  text-align: left;
  max-width: 60ch;
  margin: 10px 0;
}

main h1 {
  text-align: center;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 20px 0;
}

footer a,
.text a {
  color: var(--linkColor);
  font-weight: bold;
}

.reset-control {
  text-align: center;
  margin: 20px 0;
}

header {
  background-color: var(--cherry);
  padding-top: 20px;
  padding-bottom: 20px;
  --linkColor: var(--mango);
}

.controls-container {
  text-align: center;
  font-size: 120%;
  padding: 10px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

header h1 {
  margin-top: 0;
}
